/* Global Styles */
QWidget {
    background-color: #222831; /* Dark background color */
    color: #EEEEEE; /* Light text color */
    font-size: 16px; /* Default font size */
}

QLabel {
    font-size: 18px; /* Larger font size for labels */
}

QLineEdit, QTextEdit, QDateEdit {
    background-color: #30475E; /* Input fields background color */
    color: #EEEEEE; /* Input fields text color */
    border: 2px solid #76ABAE; /* Input fields border color */
    border-radius: 5px; /* Rounded corners for input fields */
    padding: 5px; /* Padding inside input fields */
}

QPushButton {
    font-size: 16px; /* Button text size */
    background-color: #76ABAE; /* Button background color */
    color: #222831; /* Button text color */
    border: none; /* No button border */
    padding: 8px 16px; /* Padding inside buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

QPushButton:hover {
    background-color: #88cccc; /* Button background color on hover */
}

QScrollArea {
    background-color: #333; /* Scroll area background color */
}

QFrame {
    background-color: #444; /* Frame background color */
    border-radius: 5px; /* Rounded corners for frames */
    padding: 5px; /* Padding inside frames */
}

/* Specific Styles */
QDialog {
    background-color: #222831; /* Dialog background color */
    color: #EEEEEE; /* Dialog text color */
    font-size: 18px; /* Dialog font size */
}

QMessageBox {
    background-color: #222831; /* Message box background color */
    color: #EEEEEE; /* Message box text color */
    font-size: 18px; /* Message box font size */
}

/* Specific styles for buttons inside QMessageBox */
QMessageBox QPushButton {
    background-color: #76ABAE; /* Button background color */
    color: #222831; /* Button text color */
}

QMessageBox QPushButton:hover {
    background-color: #88cccc; /* Button background color on hover */
}
